/* intro */

.intro {
    background: #ffffff;
}

/*intro__container*/

.intro__container {
    max-width: 720px;
    margin: auto;
    padding: 48px 0;
    text-align: center;
}

/*intro__container-title*/

.intro__container-title {
    font-size: xx-large;
}

/* intro__container-subtitle */

.intro__container-subtitle {
    color: #999999;
}

/* intro__container-description */

.intro__container-description {
    text-align: justify;
}

/* intro__container-gallery */

.intro__container-gallery {
    display: flex;
    justify-content: center;
}

/* intro__container-gallery-title */

.intro__container-gallery-title {
    margin: 8px 0;
}

/* intro__container-gallery-image */

.intro__container-gallery-image {
    max-width: 240px;
    height: auto;
    margin: 8px;
}

@media screen and (max-width: 720px) {
    /* intro__container-description */
    .intro__container-description {
        padding: 0 16px;
    }
    /* intro__container-gallery */
    .intro__container-gallery {
        flex-direction: column;
        align-items: center;
    }
    /* intro__container-gallery-image */
    .intro__container-gallery-image {
        max-width: 100%;
    }
}