/* main__slide-image */

.main__slide-image {
    width: auto;
    height: 100vh;
    background-image: url("../img/demo-img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* main__container */

.main__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10% 0;
    color: #ffffff;
}

/* main__title */

.main__title {
    font-size: large;
}

/* main__description */

.main__description {
    max-width: 300px;
    font-size: medium;
}