/* nav */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

/* nav__menu */

.nav__menu {
    display: flex;
    flex: 1;
}

/* nav__item */

.nav__item {
    padding: 16px;
    color: #ffffff;
    background: #111111;
    text-decoration: none;
}

.nav__item:hover {
    color: #111111;
    background: #eeeeee;
}

.nav__item--block {
    display: block;
}

.nav__item--right {
    margin-left: auto;
}

/* nav__dropdown */

.nav__dropdown {
    display: inline-block;
}

/* nav__dropdown-button */

.nav__dropdown-button {
    display: inline-block;
    padding: 16px;
    color: #ffffff;
    text-decoration: none;
}

.nav__dropdown:hover .nav__dropdown-button {
    color: #111111;
    background: #eeeeee;
}

/* nav__dropdown-content */

.nav__dropdown-content {
    position: absolute;
    display: none;
}

.nav__dropdown:hover .nav__dropdown-content {
    display: block;
}

/* .nav-mobile */

.nav-mobile {
    display: none;
}

@media screen and (max-width: 720px) {
    /* nav__menu */
    .nav__menu {
        display: none;
    }
    /* nav-mobile */
    .nav-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.75);
    }
    /* nav-mobile__menu */
    .nav-mobile__menu {
        display: flex;
    }
    /* nav-mobile__item */
    .nav-mobile__item {
        color: #ffffff;
        text-decoration: none;
        padding: 16px;
    }
    .nav-mobile__item--block {
        display: block;
    }
    
    .nav-mobile__item--full {
        width: 100%;
    }
    /* nav-mobile__dropdown */
    .nav-mobile__dropdown {
        display: none;
    }
    /* nav-mobile__dropdown-button */
    .nav-mobile__dropdown-button {
        color: #ffffff;
        text-decoration: none;
        padding: 16px;
    }
}