/* home */

.home {
    margin-top: 50px;
}

/* home__slide-image */

.home__slide-image {
    width: 100%;
    height: 100vh;
    filter: grayscale(50%);
    background-repeat: no-repeat;
    background-size: cover;
}

/* home__container */

.home__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10% 0;
    color: #ffffff;
}

/* home__title */

.home__title {
    font-size: large;
}

/* home__description */

.home__description {
    max-width: 300px;
    font-size: medium;
}

@media screen and (max-width: 720px) {
    /* home__slide-image */
    .home__slide-image {
        height: auto;
    }
    /* home__title */
    .home__title {
        visibility: hidden;
    }
    /* home__description */
    .home__description {
        visibility: hidden;
    }
}